.centerContainer
{
    position: fixed;
    justify-content: center;
    align-items: center;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    
}

.centerRow
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.rectangle
{
    width: 60px;
    height: 60px;
    background-color: #ffcc00;
    opacity: 0.5;

    margin: 5px;
    border: 5px solid transparent;
    border-collapse: collapse;
    border-radius: 10px;
    
    justify-content: center;
    align-items: center;
    
    display: flex;

    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button
{
    width: 30px;
    height: 30px;
    background-color: #ffcc00;
    opacity: 0.5;

    text-align: center;

    margin: 5px;
    border: 5px solid transparent;
    border-collapse: collapse;
    border-radius: 10px;
    
    justify-content: center;
    align-items: center;
    
    display: flex;

    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    z-index: 1024;
}

.bar
{
    width : 40px;
    height : 200px;
    background-color: #ffcc00;

    margin: 5px;
    border: 0px solid transparent;
    border-collapse: collapse;
    border-radius: 10px;
}

.blank
{
    width: 60px;
    height: 60px;

    margin: 10px;
}

.settingsBox
{
    height:210px;
    
    
    border-radius: 16px;
    padding: 16px;
    margin:8px;
    
    font-size: 16px;
    text-align: left;

    background-color: rgba(192,192,192,0.1);
}